version: "3.5"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: on-failure
    ports:
      - 80:80
      - 433:433
    volumes:
      - nginx-gencfg:/etc/nginx/conf.d
      #- nginx:/etc/nginx/certs
    networks:
      - front_end
      - mid_layout

  nginx-dockergen:
    image: jwilder/docker-gen
    container_name: nginx-dockergen
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ${PWD}/nginx-proxy/dockergen-templates/:/etc/docker-gen/templates:ro
      - nginx-gencfg:/etc/nginx/conf.d/
    network_mode: "none"
    command: |
      -notify-sighup nginx
      -watch -only-exposed
      /etc/docker-gen/templates/nginx-default.conf.tmpl /etc/nginx/conf.d/default.conf


volumes:

  nginx-gencfg:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${TMP_FOLDER}/nginx-proxy/nginx-conf.d

