version: "3.5"

services:

  shadowsocks:
    image: mritd/shadowsocks
    restart: always
    depends_on:
      - dnsmasq
    ports:
      - 7070:7070
    networks:
      - front-end
      - mid-layout
    secrets:
      - proxy-shadowsocks-config
    entrypoint: |
      ss-local -c /run/secrets/proxy-shadowsocks-config -l 7070 \
               -s ss.${SERVER_DOMAIN_NAME} -p 443 \
               --plugin v2ray-plugin
    #environment:
      #SS_MODULE: ss-local
      #SS_CONFIG: "-c /run/secrets/proxy-shadowsocks-config -s ${SERVER_DOMAIN_NAME} -l 7070"

  privoxy:
    image: zcchen/privoxy
    restart: always
    depends_on:
      - shadowsocks
    ports:
      - 8118:8118
    networks:
      - front-end
      - mid-layout
    environment:
      LISTEN_ADDRESS_IPV4: 0.0.0.0
      SOCKS_PROXY: shadowsocks:7070
      SOCKS_METHOD: socks5

secrets:
  proxy-shadowsocks-config:
    file: ../configs/secrets/proxy/shadowsocks-config.json
