version: "3.5"

services:
  traefik:
    image: traefik:latest
    #command: --providers.docker.network=nas-docker-compose_mid-layout
    restart: always
    ports:
      - 80:80
      - 433:433
      - 8080:8080
    volumes:
      - ./traefik:/etc/traefik/
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${TMP_FOLDER}/traefik/logs:/var/logs/traefik/
    networks:
      - front-end
      - mid-layout

  nas-whoami:
    image: containous/whoami:latest
    networks:
      - mid-layout
      - back-end
    labels:
      traefik.enable: true
      traefik.http.routers.nas-whoami.rule: "pathprefix(`/whoami`)"
      traefik.http.routers.nas-whoami.service: nas-whoami
      traefik.http.services.nas-whoami.loadbalancer.server.port: 80

  admin-whoami:
    image: containous/whoami:latest
    networks:
      - mid-layout
    labels:
      traefik.enable: true
      traefik.http.routers.admin-whoami.rule: "pathprefix(`/admin/whoami`)"
      traefik.http.routers.admin-whoami.service: admin-whoami
      traefik.http.routers.admin-whoami.middlewares: admin-auth@file
      traefik.http.services.admin-whoami.loadbalancer.server.port: 80

  #nginx-index:
    #image: nginx:alpine
    #container_name: nginx-index
    #restart: on-failure #ports:
      #- 80:80
      #- 433:433
    #volumes:
      #- ./index/nginx-conf.d:/etc/nginx/conf.d
      ##- nginx:/etc/nginx/certs
    #networks:
      #- front_end
      #- mid_layout
      #- fort

# ------ network framework -------------------
#        +--------------------+
#        |        LAN         |
#        +--------------------+
#                  |
#        +--------------------+
#        |     front-end      |
#        +--------------------+
#           |              |
#   +-------------+  +-------------+
#   |  mid-layout |  |     fort    |
#   +-------------+  +-------------+
#           |              |
#        +--------------------+
#        |      back_end      |
#        +--------------------+
networks:

  front-end:
    ipam:
      driver: default
      config:
        - subnet: 172.16.1.0/24

  mid-layout:
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.16.10.0/24

  fort:
    ipam:
      driver: default
      config:
        - subnet: 172.16.250.0/24

  back-end:
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.16.20.0/24

