version: "3.5"

services:
  webserver:
    image: nginx:alpine
    container_name: nginx
    restart: on-failure
    ports:
      - 8080:80
    volumes:
      - files_persist:/usr/share/nginx/html:consistent
    networks:
      - mid_layout
      - front_end


networks:
  front_end:
    name: net_front-end
    ipam:
      driver: default
      config:
        - subnet: 172.1.0.0/16
          #gateway: 172.1.0.1
  mid_layout:
    name: net_mid-layout
    ipam:
      driver: default
      config:
        - subnet: 172.8.0.0/16
          #gateway: 172.8.0.1
  back_end:
    internal: true
    name: net_back-end
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/16
          #gateway: 172.18.0.1

volumes:
  files_persist:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/data/mount-point-test
  db_postgresql_persist:
    driver: local
    # The target path is '/var/lib/postgresql/data'

