version: "3.5"

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    ports:
      - 80:80
      - 433:433
    volumes:
      - ./traefik:/etc/traefik/
    networks:
      - front_end
      - mid_layout
      - fort

  #nginx-index:
    #image: nginx:alpine
    #container_name: nginx-index
    #restart: on-failure
    #ports:
      #- 80:80
      #- 433:433
    #volumes:
      #- ./index/nginx-conf.d:/etc/nginx/conf.d
      ##- nginx:/etc/nginx/certs
    #networks:
      #- front_end
      #- mid_layout
      #- fort

# ------ network framework -------------------
#        +--------------------+
#        |        LAN         |
#        +--------------------+
#                  |
#        +--------------------+
#        |     front_end      |
#        +--------------------+
#           |              |
#   +-------------+  +-------------+
#   |  mid_layout |  |     fort    |
#   +-------------+  +-------------+
#           |              |
#        +--------------------+
#        |      back_end      |
#        +--------------------+
networks:

  front_end:
    name: net_front-end
    ipam:
      driver: default
      config:
        - subnet: 172.16.1.0/24

  mid_layout:
    internal: true
    name: net_mid-layout
    ipam:
      driver: default
      config:
        - subnet: 172.16.10.0/24

  fort:
    name: net_fort
    ipam:
      driver: default
      config:
        - subnet: 172.16.250.0/24

  back_end:
    internal: true
    name: net_back-end
    ipam:
      driver: default
      config:
        - subnet: 172.16.20.0/24

