version: "3.5"

services:
  shadowsocks:
    image: mritd/shadowsocks
    restart: on-failure
    ports:
      - 8080:8080
    expose:
      - 8080
    networks:
      - front-end
    secrets:
      - proxy-shadowsocks-config
    entrypoint: |
      ss-server -c /run/secrets/proxy-shadowsocks-config \
                -p 8080 --plugin v2ray-plugin \
                --plugin-opts 'server'
    #environment:
      #SS_MODULE: ss-server
      #SS_CONFIG:" "-c /run/secrets/proxy-shadowsocks-config -s 0.0.0.0"

secrets:
  proxy-shadowsocks-config:
    file: ../configs/secrets/proxy/shadowsocks-config.json
