version: "3.5"

services:
  shadowsocks:
    image: mritd/shadowsocks
    restart: always
    ports:  # modify exposing the PORT here based on your configs
      - 12345:12345
    networks:
      - front-end
    secrets:
      - proxy-shadowsocks-config
    environment:
      SS_MODULE: "ss-server"
      SS_CONFIG: "-c /run/secrets/proxy-shadowsocks-config -s 0.0.0.0"

secrets:
  proxy-shadowsocks-config:
    file: ../configs/secrets/proxy/shadowsocks-config.json
