version: '3.5'

volumes:
  ldap_persist-var:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/data/ldap/var
  ldap_persist-etc:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/data/ldap/etc

secrets:
  ldap_admin_password:
    name: LDAP_ADMIN_PASSWORD
    file: openldap/secrets/admin_password.txt
  ldap_config_password:
    name: LDAP_config_PASSWORD
    file: openldap/secrets/config_password.txt

services:
  openldap:
    image: osixia/openldap:1.4.0
    container_name: openldap
    restart: on-failure
    domainname: "zcchen.me"
    networks:
      - back_end
    secrets:
      - ldap_admin_password
      - ldap_config_password
    environment:
      LDAP_LOG_LEVEL: "256"
      LDAP_ORGANISATION: "CHEN Family"
      LDAP_DOMAIN: "zcchen.me"
      LDAP_BASE_DN: ""
      LDAP_READONLY_USER: "false"
      #LDAP_READONLY_USER_USERNAME: "readonly"
      #LDAP_READONLY_USER_PASSWORD: "readonly"
      LDAP_RFC2307BIS_SCHEMA: "false"
      LDAP_BACKEND: "mdb"
      LDAP_TLS: "false"
      #LDAP_TLS_CRT_FILENAME: "ldap.crt"
      #LDAP_TLS_KEY_FILENAME: "ldap.key"
      #LDAP_TLS_DH_PARAM_FILENAME: "dhparam.pem"
      #LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      #LDAP_TLS_ENFORCE: "false"
      #LDAP_TLS_CIPHER_SUITE: "SECURE256:-VERS-SSL3.0"
      #LDAP_TLS_VERIFY_CLIENT: "demand"
      #LDAP_REPLICATION: "false"
      #LDAP_REPLICATION_CONFIG_SYNCPROV: "binddn="cn=admin,cn=config" bindmethod=simple credentials=$$LDAP_CONFIG_PASSWORD searchbase="cn=config" type=refreshAndPersist retry="60 +" timeout=1 starttls=critical"
      #LDAP_REPLICATION_DB_SYNCPROV: "binddn="cn=admin,$$LDAP_BASE_DN" bindmethod=simple credentials=$$LDAP_ADMIN_PASSWORD searchbase="$$LDAP_BASE_DN" type=refreshAndPersist interval=00:00:00:10 retry="60 +" timeout=1 starttls=critical"
      #LDAP_REPLICATION_HOSTS: "#PYTHON2BASH:['ldap://ldap.example.org','ldap://ldap2.example.org']"
      KEEP_EXISTING_CONFIG: "false"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "true"
      LDAP_SSL_HELPER_PREFIX: "ldap"
    tty: true
    stdin_open: true
    volumes:
      - ldap_persist-var:/var/lib/ldap
      - ldap_persist-etc:/etc/ldap/slapd.d
      #- /container/service/slapd/assets/certs/
    expose:
      - 389
      - 636

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    networks:
      - back_end
      - mid_layout
    ports:
      - "8081:80"
    depends_on:
      - openldap
