version: "3.5"

services:

  nextcloud-db:
    image: mariadb
    container_name: nextcloud-db
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: on-failure
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/nextcloud_mysql_password
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD_FILE: /run/secrets/nextcloud_mysql_password
    secrets:
      - nextcloud_mysql_password
    volumes:
      - nextcloud-db-mariadb:/var/lib/mysql:consistent
    networks:
      - back_end

  nextcloud-config:
    image: alpine
    container_name: nextcloud-config
    restart: on-failure
    depends_on:
      - nextcloud-app
    volumes:
      - nextcloud-html:/var/www/html
      - ./nextcloud/config/:/mnt:ro
    command: sh -c "
                    cp /mnt/*.config.php /var/www/html/config/ &&
                    chown 82:root /var/www/html/config/*.config.php
                  "

  #nextcloud-redis:
    #image: redis:latest
    #container_name: nextcloud-redis
    #restart: on-failure
    #networks:
      #- back_end

  nextcloud-app:
    image: nextcloud:fpm-alpine
    container_name: nextcloud-app
    restart: always
    volumes:
      - nextcloud-html:/var/www/html
      - nextcloud-data:/var/www/html/data
    environment:
      #REDIS_HOST: nextcloud-redis
      MYSQL_HOST: nextcloud-db
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD_FILE: /run/secrets/nextcloud_mysql_password
      NEXTCLOUD_ADMIN_USER: admin
      NEXTCLOUD_ADMIN_PASSWORD_FILE: /run/secrets/nextcloud_admin_password
      NEXTCLOUD_TRUSTED_DOMAINS: nextcloud-web
    secrets:
      - nextcloud_admin_password
      - nextcloud_mysql_password
    depends_on:
      - nextcloud-db
    networks:
      - mid_layout
      - back_end

  nextcloud-web:
    build: ./nextcloud/web
    container_name: nextcloud-web
    restart: always
    volumes:
      - nextcloud-html:/var/www/html:ro
    environment:
      - VIRTUAL_HOST=
      - LETSENCRYPT_HOST=
      - LETSENCRYPT_EMAIL=
    depends_on:
      - nextcloud-app
    networks:
      - mid_layout
      - back_end

volumes:
  nextcloud-db-mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${PWD}/data/nextcloud/mysql"
      # The target path is '/var/lib/mysql'
  nextcloud-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${PWD}/data/nextcloud/data"
  nextcloud-html:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${PWD}/data/nextcloud/html"

secrets:
  nextcloud_mysql_password:
    file: ./nextcloud/secrets/nextcloud-db-passwd.txt
  nextcloud_admin_password:
    file: ./nextcloud/secrets/nextcloud-admin-passwd.txt
