version: "3.5"

services:
  nginx:
    image: nginx
    restart: always
    depends_on:
      - acme.sh
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/sites/:/etc/nginx/templates:ro
      - ./nginx/nas/:/etc/nginx/sites/nas:ro
      - acme-certificate:/etc/nginx/cert:ro
      - nginx-cache:/var/cache/nginx/:rw
      #- nginx-log:/var/log/nginx/:rw
    networks:
      - front-end
      - mid-layout
    environment:
      SERVER_DOMAIN_NAME:
      LOCAL_DOMAIN_NAME:

  whoami:
    image: containous/whoami:latest
    networks:
      - mid-layout
      - back-end

  acme.sh:
    image: neilpang/acme.sh
    restart: on-failure:3
    networks:
      - front-end
    volumes:
      - acme-certificate:/acme.sh/
      - ./nginx/acme-entry.sh:/acme-entry.sh:ro
    env_file:
      - ../configs/secrets/acme.sh/config.env
    environment:
      SERVER_DOMAIN_NAME:
      LOCAL_DOMAIN_NAME:
    entrypoint:
      [ "/bin/sh", "/acme-entry.sh" ]
    command:
      #- --server letsencrypttest
      - --server letsencrypt
      #- --force

volumes:
  nginx-cache:
  nginx-log:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${TMP_FOLDER}/nginx/log"
  acme-certificate:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${DATA_FOLDER}/nginx/acme.sh"

