[Unit]
Description=NAS docker compose Service (@MOD_NAME@)
Documentation=https://github.com/zcchen/nas-docker-compose
After=network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=60
ExecStart=make -C @ABSOLUTED_PATH@
TasksMax=infinity
User=@USER@

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
