version: "3.5"

services:

  nginx:
    image: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/template/:/etc/nginx/templates:ro
      - ./nginx/nas/:/etc/nginx/sites/nas:ro
    networks:
      - front-end
      - mid-layout
    environment:
      SERVER_DOMAIN_NAME:
      LOCAL_DOMAIN_NAME:

  whoami:
    image: containous/whoami:latest
    networks:
      - mid-layout
      - back-end

  amce.sh:
    image: neilpang/acme.sh


networks:

  front-end:
    ipam:
      driver: default
      config:
        - subnet: 172.16.2.0/24

  mid-layout:
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.16.12.0/24

  back-end:
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.16.22.0/24


secrets:
  traefik-admin-auth:
    file: ../configs/secrets/traefik/admin.http.auth

