version: "3.5"

services:

  nextcloud-nginx:
    image: nginx
    restart: always
    depends_on:
      - nextcloud-app
    volumes:
      - ./nextcloud/web/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - nextcloud-html:/var/www/html/:ro
    networks:
      - mid-layout
    #command: [nginx-debug, '-g', 'daemon off;']

  nextcloud-app:
    #image: nextcloud:latest
    image: nextcloud:fpm-alpine
    restart: always
    volumes:
      - nextcloud-html:/var/www/html/
      - nextcloud-config:/var/www/html/config
      - nextcloud-data:/var/www/html/data
      - nextcloud-apps:/var/www/html/custom_apps
      - ./nextcloud/web/php-www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
    env_file:
      - ./nextcloud/nextcloud.env
    environment:
      REDIS_HOST: nextcloud-redis
      MYSQL_HOST: nextcloud-db
    secrets:
      - nextcloud-admin-password
      - nextcloud-db-password
    depends_on:
      - nextcloud-db
      - nextcloud-redis
    networks:
      - mid-layout
      - back-end

  nextcloud-config:
    #image: nextcloud:latest
    image: nextcloud:fpm-alpine
    restart: on-failure
    volumes:
      - nextcloud-html:/var/www/html/
      - nextcloud-config:/var/www/html/config
      - ./nextcloud/config/:/mnt:ro
    networks: []    #disable the network
    command: sh -c "
      for f in `ls -1 /mnt/*.config.php`; do cat $$f | sed -e 's/{{LOCAL_DOMAIN_NAME}}/${LOCAL_DOMAIN_NAME}/g' > /var/www/html/config/`basename $$f`; done &&
      chown -R www-data:root /var/www/html/config/
      "

  nextcloud-db:
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: on-failure
    env_file:
      - ./nextcloud/nextcloud.env
    secrets:
      - nextcloud-db-password
    volumes:
      - nextcloud-db-mariadb:/var/lib/mysql:consistent
    networks:
      - back-end

  nextcloud-redis:
    image: redis:alpine
    restart: always
    networks:
      - back-end

  nextcloud-cron:
    #image: nextcloud:latest
    image: nextcloud:fpm-alpine
    restart: unless-stopped
    volumes:
      - nextcloud-html:/var/www/html/
      - nextcloud-config:/var/www/html/config
      - nextcloud-data:/var/www/html/data
      - nextcloud-apps:/var/www/html/custom_apps
    entrypoint: /cron.sh
    env_file:
      - ./nextcloud/nextcloud.env
    environment:
      REDIS_HOST: nextcloud-redis
      MYSQL_HOST: nextcloud-db
    secrets:
      - nextcloud-admin-password
      - nextcloud-db-password
    depends_on:
      - nextcloud-app
      - nextcloud-db
      - nextcloud-redis
    networks: []    # disable the network


volumes:
  nextcloud-db-mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${DATA_FOLDER}/nextcloud/mysql"  # The target path is '/var/lib/mysql'
  nextcloud-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${DATA_FOLDER}/nextcloud/config"   # /var/www/html/config, predefined setup
  nextcloud-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${DATA_FOLDER}/nextcloud/data"
  nextcloud-apps:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${DATA_FOLDER}/nextcloud/apps"
  nextcloud-html:

secrets:
  nextcloud-db-password:
    file: ../configs/secrets/nextcloud/nextcloud-db-passwd.txt
  nextcloud-admin-password:
    file: ../configs/secrets/nextcloud/nextcloud-admin-passwd.txt
