version: "3.5"

services:

  # NOTE: debug method: https://stackoverflow.com/questions/16277529/php-aria2-jsonrpc-empty-reply-from-server
  aria2-pro:
    image: p3terx/aria2-pro
    restart: unless-stopped
    environment:
      PUID: ${USERID}
      PGID: ${GROUPID}
      UMASK_SET: 022
      #RPC_SECRET: "P3TERX" # Default token is set by this docker image,
      RPC_PORT: 6800
      LISTEN_PORT: 6888
      DISK_CACHE: 64M
      UPDATE_TRACKERS: "true"
      CUSTOM_TRACKER_URL:
      TZ: Asia/Shanghai
    env_file:
      - ../configs/secrets/aria2/config.env
    networks:
      - front-end
    ports:
      #- 6800:6800
      - 6888:6888
      - 6888:6888/udp
    expose:
      - 6800
    volumes:
      - aria2-config:/config
      - nextcloud-samba-downloads:/downloads

  aria2-config:
    image: zcchen/toolbox
    restart: on-failure
    volumes:
      - ./aria2/config:/mnt/src:ro
      - aria2-config:/mnt/dest
    network_mode: none
    # copy everything to dest folder, so that the source ones are read-only
    command: bash -c '
      rm -rf /mnt/dest/*;
      echo "Files under </mnt/src/>:" && ls -Alh /mnt/src;
      if [ -n "`ls -A1h /mnt/src/`" ]; then cp -rvf /mnt/src/* /mnt/dest/; fi
      '

  ariang:
    image: p3terx/ariang
    command: --port 8080
    networks:
      - mid-layout
    expose:
      - 8080
    restart: unless-stopped

volumes:
  aria2-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "${TMP_FOLDER}/aria2/config"


