CREATE USER IF NOT EXISTS "{{- .Env.DOCKERGEN_MYSQL_USER -}}"@'%'
  IDENTIFIED BY '{{- .Env.DOCKERGEN_MYSQL_PASSWORD -}}';
CREATE DATABASE IF NOT EXISTS {{ .Env.DOCKERGEN_MYSQL_DATABASE }};
GRANT ALL PRIVILEGES ON {{ .Env.DOCKERGEN_MYSQL_DATABASE -}}.* TO "{{- .Env.DOCKERGEN_MYSQL_USER -}}"@'%';
FLUSH PRIVILEGES;
