version: "3.5"

services:
  frps:
    image: zcchen/frps
    restart: unless-stopped
    networks:
      - front-end
    secrets:
      - frps-token
      - frps-dashboard-user
      - frps-dashboard-passwd
    ports:
      - 7000:7000
      - 7500:7500
      - 21000-21099:21000-21099
    volumes:
      - ./frps/configs/:/configs:ro
    environment:
      BIND_PORT_TCP: 7000
      DASHBOARD_PORT: 7500
      ALLOW_PORTS: 21000-21099
      DASHBOARD_USER_FILE: /run/secrets/frps-dashboard-user
      DASHBOARD_PASSWORD_FILE: /run/secrets/frps-dashboard-passwd
      AUTH_TOKEN_FILE: /run/secrets/frps-token
      SHOW_CONFIG: "false"    # change it to true for easy debug if needed
      #APPEND_CONFIG_FILES: /configs/log.ini

secrets:
  frps-token:
    file: ../configs/secrets/frp/token.txt
  frps-dashboard-user:
    file: ../configs/secrets/frp/dashboard-user.txt
  frps-dashboard-passwd:
    file: ../configs/secrets/frp/dashboard-passwd.txt
